/* Dota 2 Timer Custom styling */
#root {
  height: 100%;
}
#main {
  height: 100%;
}
#main-wrapper {
  height: 100%;
}
body {
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}

/* TimerContainer Component */

.timer-container {
  .lineup {

  }
}

/* Hero Component */

.hero {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(255,255,255,0.2);
  &-1 {
  }
}

/* PageFooter Component */

footer.footer-app {
  padding: 0;
}
