@import 'mixins';

/* Dota 2 Timer Custom styling */
#root {
  height: 100%;
}
#main {
  height: 100%;
}
#main-wrapper {
  height: 100%;
}
body {
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}

/* TimerContainer Component */

.timer-container {
  .lineup {

  }
}

/* Hero Component */
.hero {
  &-1 {
  }
  &-portrait {
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(255,255,255,0.2);
    .fa, .d2mh {
      position: relative;
      top: 37px;
      font-size: 5em;
      text-align: center;
    }
    .dm2h {
      left: 56px;

    }
    .fa {
      width: 100%;
    }
  }
}

/* Ability Component */
.ability {
  &-portrait {
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(255,255,255,0.3);
  }
  .started, .timer-glow, .timer-glow-warning {
    border-radius: 50%;
  }

}
.timer-glow {
  @include glow(1.5s);

  &-warning {
    @include glow(0.2s);
  }
}
.countdown {
  position: absolute;
  left: 38%;
  top: 34%;
  font-size: 36px;
}

/* PageFooter Component */

footer.footer-app {
  padding: 0;
}
